<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>Vebbo API</title>
  </head>
  <body>
    <div class="container">
      <p>Vebbo API</p>
      <div class="btns">
        <button id="download">Download</button>
        <button id="music">Music</button>
        <button id="maintain">Maintain</button>
      </div>
      <div class="validation">
        <input
          type="password"
          id="pass_field"
          class="inputs"
          placeholder="Password"
          autocomplete="off"
        />
        <button id="passBtn">Continue</button>
      </div>
      <div class="dev">
        <h2 id="usersCount"></h2>
        <h2>Developer</h2>
        <ul>
          <li>Confidence Eze</li>
        </ul>

        <p>
          Github:
          <a href="https://github.com/Dev-Geek" target="_blank"
            >https://github.com/Dev-Geek</a
          >
        </p>
      </div>
    </div>
    <script src="js/stream.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
